page-checklist {
	.progress-p{
		display: flex;
		.progress{
			width: 25px;
			background-color: #6cc166;
			margin-left: 2px;
		}
	}
	.custom-item{
		&.top{
			&.item{
				padding: 10px;
			}
		}
	} 
	.item{
	    &.item-block{
	    	padding-left: 0px;
		    .item-inner{
		      padding-right: 0px !important;
		      border: 0 none !important;
		      .input-wrapper{
		        .label{
		          margin: 0px !important;
		          .house-img{
		          	text-align: center;
		          }
		          p{
		          	&.phase-desc{
		          		white-space: normal;
		          		font-size: 12px;
		          	}
		          	&.phase-action-buttons{
		          		button{
			          		&.item-button {
			          			padding-left: 0px;
			          			color: #000;
			          		}
			          	}
		          	}
		          }
		          .list{
		          	    margin: 0px 0 1px;
		            .item{
		            	&.house-image{
		                 padding: 0px;
		            }
		          }
		         }
		        } 
		      }
		    }
		  }
	}
}
