<!--
  Generated template for the TransactionsDashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-list no-lines class="menubar-icons">
	  	<ion-item>
		    <ion-title>Transaction Dashboard</ion-title>
			<ion-icon name="notifications" item-end></ion-icon>
			<ion-icon name="search" item-end></ion-icon>
		</ion-item>
	</ion-list>
  </ion-navbar>
</ion-header>


<ion-content>
	<div class="transaction-content">
		 <ion-list no-lines>
		 	<ion-item class="select-type-item" [ngClass]="renderListClass()">
		 				{{SelectedlistType}} 
		 				<ion-icon (click)="toggleHouse(-50)" *ngIf="!isHouseShown(-50)" name="arrow-dropdown"></ion-icon>
		 				<ion-icon (click)="toggleHouse(-50)" *ngIf="isHouseShown(-50)" name="arrow-dropup"></ion-icon>
		 	</ion-item>
		 	<ion-item class="select-type-item-list" *ngIf="isHouseShown(-50)">
	 				<ion-list no-lines>
	 					<ion-item (click)="changeType('Buyers')">Buyerʼs Agent Transactions</ion-item>
	 					<ion-item (click)="changeType('Seller')">Sellerʼs Agent Transactions</ion-item>
	 					<ion-item (click)="changeType('Landlord')">Landlord Transactions</ion-item>
	 					<ion-item (click)="changeType('Tenant')">Tenant Transactions</ion-item>
	 				</ion-list>
		 	</ion-item>
		 	<!-- List Item Starts Here -->
		 	<ion-item class="custom-item house-list-item" *ngFor="let house of houseData; let houseitem = index;">
		 		<ion-list no-lines>
		 			<ion-item>
		 				<p class="property-name-address">
				 			<span class="name">{{house.title}}</span><br>
				 			<span class="address">{{house.address}}</span>
			 			</p>
			 			<ion-icon (click)="toggleHouse(houseitem)" *ngIf="!isHouseShown(houseitem)" name="arrow-dropdown" item-end ></ion-icon>
			 			<ion-icon (click)="toggleHouse(houseitem)" *ngIf="isHouseShown(houseitem)" name="arrow-dropup" item-end></ion-icon>
		 			</ion-item>
		 			<ion-item class="house-image" *ngIf="isHouseShown(houseitem)">
				 		<div class="house-img"><img src="{{house.image}}"></div>
		 			</ion-item>
		 			<ion-item class="house-action-buttons">
		 				<p>
			 				<button ion-button color="dark" clear (click)="openChecklist(house.id)">CHECKLIST</button>
			 				<button ion-button color="dark" clear (click)="opennotes(house.id)">NOTES</button>
			 				<button ion-button color="dark" (click)="openTeam(house.id)" clear>TEAM</button>
			 				<button class="menu-more-icon" ion-button color="dark" clear (click)="presentPopover(house.id)"><ion-icon name="more" item-end></ion-icon></button>
		 				</p>
		 			</ion-item>
		 		</ion-list>
		 	</ion-item>
		 	<!-- List Item Ends Here -->
		 </ion-list>
	</div>
</ion-content>
